h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body > my-app > div > carousel-comp > ngb-carousel > a.right.carousel-control,
body > my-app > div > carousel-comp > ngb-carousel > a.left.carousel-control{
  width:0;
}
body > my-app > div > carousel-comp > ngb-carousel > ol > li{
  border: 1px solid black !important;
}
body > my-app > div > carousel-comp > ngb-carousel > a.right.carousel-control > span.icon-next,
body > my-app > div > carousel-comp > ngb-carousel > a.left.carousel-control > span.icon-prev {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 100px;
}
