<ngb-carousel>

    <template ngbSlide *ngFor="let row of carouselNews">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card" *ngFor="let item of row; let i = index">
                    <div *ngIf="item">
                        <button type="button" class="btn btn-secondary btn btn-primary btn-lg btn-block">
                            {{carouselFeed[i]}}
                        </button>
                        <a [href]="item?.link"><img class="img-fluid" [src]="item?.image" alt="{{item?.source.name}}"></a>
                        <div class="card-block">
                            <h4 class="card-title">{{item?.source.name}}</h4>
                            <p *ngIf="item?.description" class="card-text">{{item.description}} <a [href]="item?.link">les
                                mer...</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

</ngb-carousel>

